{% extends 'base.html' %}


{% block content %}

   <main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
             
        <form action="/tasks/create/" method="POST" class="card card-body">
            <h1 class="text-center">Create Task</h1>
            {{ error }}
            <hr>
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-danger">
                Save
            </button> 
            
        
        </form>
        </section>
    </div>
   </main>

{% endblock %}
